@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    height: 120px;
    background-color: #0b82d1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: #ffffff;
    font-size: 48px;
    margin-left: 20px;
    font-family: "Bungee Spice", sans-serif;
}
.main{
    padding: 30px;
    background-color: #818181;
}
.post{
    background-color: #caf7f8;
    display: flex;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
}
.pic img{
    width: 150px;
    height: 250px;
    margin-right: 15px}
ul{
    display: flex;
    gap: 30px;
    list-style: none;
    margin-right: 20px;
}
.menu a{
    color: #ffffff; 
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
}
 .footer   
{
    background-color: rebeccapurple;
    padding: 15px;

    



















    